/*colors begin*/
/*colors end*/
/*controls styles begin*/
.full-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.control {
  /*ModalWindow begin*/
  /*ModalWindow end*/
  /*TimePicker begin*/
  /*TimePicker*/
  /*VisualTimer begin*/
  /*VisualTimer end*/
}
.control.global-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}
.control.global-overlay .transparent-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.7;
}
.control.global-overlay .content-wrapper {
  opacity: 0;
  padding: 20px;
  background-color: white;
  position: absolute;
}
.control.global-overlay .content-wrapper .title-block {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.control.global-overlay .content-wrapper .close-btn {
  display: block;
  position: absolute;
  top: -20px;
  right: -20px;
  width: 20px;
  height: 20px;
  background-color: red;
  cursor: pointer;
}
.control.global-overlay .content-wrapper .close-btn:hover {
  background-color: darkred;
}
.control.time-picker input {
  font-size: 12px;
  width: 40px;
}
.control.time-picker input:focus {
  outline: none;
}
.control.time-picker input.valid-input {
  border: 1px solid green;
  background-color: #7dae7d;
}
.control.time-picker input.invalid-input {
  border: 1px solid red;
  background-color: #ba7777;
}
.control.timer {
  display: none;
  background-color: white;
  padding: 15px 0 0 0;
}
.control.timer .mixed .dig {
  margin: 0 0 10px 0;
}
.control.timer span {
  display: inline-block;
  margin: 0;
  padding: 10px;
  cursor: pointer;
}
.control.timer span:hover {
  background-color: black;
  color: white;
}
.control.timer .time-left-wrapper .time-left {
  display: block;
  height: 10px;
  width: 100%;
  text-align: center;
  opacity: 0.5;
  background-color: black;
}
/*controls styles end*/